@use 'base' as b;

/** Text box for new tweet **/

textarea {
  width: 100%;
  background-color: b.$off-white;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  border-bottom: 4px solid b.$brown;
  overflow: auto;
  resize: none;
  font-family: b.$source-sans-pro;
  color: b.$brown;
  font-weight: bold;
}

#tweet-btn {
  background-color: b.$blue;
  border: none;
  color : white;
  padding: 5px 10px;
  margin-top: 10px;
}

#tweet-btn:hover {
  cursor: pointer;
}

#form-submit {
  display: flex;
  justify-content: space-between;
  font-family: b.$bungee;
}

.tweet-box {
  width: 90%;
}

.red-font {
  color: b.$red;
}

.counter {
  margin-top: 10px;
}

#error-msg {
  width: 100%;
  border: 3px;
  border-color: b.$red;
  color: b.$red;
  border-style: solid;
  padding: 10px;
  margin: 30px 0 30px 0;
  visibility: hidden;
  display: none;
  text-align: center;
}

.fa-triangle-exclamation {
  padding-left: 10px;
  padding-right: 10px;
}

#submit-tweet {
  margin-top: 30px;;
  display: none;
}

@media only screen and (min-width: 1024px) {

  .tweet-box {
    width: 90%;
    margin-top: 12px;
  }
  
}