.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce .8s infinite;
  -o-animation: bounce .8s infinite;
  -webkit-animation: bounce .8s infinite;
  animation: bounce .8s infinite;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: .2em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: .2em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: .2em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: .2em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: .2em; }
    100% { top: 0; }
}