header.user_info {
 display: flex;
 align-items: center;
 flex-direction: column;
 padding-top: 120px;
 height: 520px;
 width: 100%;
 background-color: goldenrod;
 background-image: url('../images/header-bg.png');
 font-family: 'Source Sans Pro', sans-serif;
}

h2.user-name {
  font-family: 'Source Sans Pro', sans-serif;
}