/* Fonts */
/* Colors */
/* Mixins */
/** Text box for new tweet **/
textarea {
  width: 100%;
  background-color: #f4f1ec;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  border-bottom: 4px solid #545149;
  overflow: auto;
  resize: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #545149;
  font-weight: bold;
}

#tweet-btn {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
}

#tweet-btn:hover {
  cursor: pointer;
}

#form-submit {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.tweet-box {
  width: 90%;
}

.red-font {
  color: #DA4C3E;
}

.counter {
  margin-top: 10px;
}

#error-msg {
  width: 100%;
  border: 3px;
  border-color: #DA4C3E;
  color: #DA4C3E;
  border-style: solid;
  padding: 10px;
  margin: 30px 0 30px 0;
  visibility: hidden;
  display: none;
  text-align: center;
}

.fa-triangle-exclamation {
  padding-left: 10px;
  padding-right: 10px;
}

#submit-tweet {
  margin-top: 30px;
  display: none;
}

@media only screen and (min-width: 1024px) {
  .tweet-box {
    width: 90%;
    margin-top: 12px;
  }
}
